.detailIssue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailIssue-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border-radius: 1%;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
    background-color: rgb(242, 247, 247);
    width: 80vw;
}
.newComment-container{
    display: flex;
    justify-content: space-between;
    margin: 1em;
    border-radius: 1%;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
    background-color: rgb(242, 247, 247);
    width: 80vw;
}
.comments-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border-radius: 1%;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
    background-color: rgb(242, 247, 247);
    width: 80vw;
}

.container-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}


.styled-p {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    text-align: left;
}

.container-fields .styled-p {
    width: 200px;
    height: 50%;
}

.container2 .container-fields .styled-p {
    width: 300px;
    height: 50%;
}

.container3 .container-fields .styled-p {
    width: 350px;
    height: 100%;
}

label {
    margin: 1em;
    font-weight: bold;
}
.comment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.comment-description{
    width: 30em;

}
.comment-text {
    overflow-wrap: break-word;
}
.comments{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.textAreaDesign{
    width: 60em;
    height: 5em;
    margin: 20px;
    margin-left: 60px;
    font-size: 16px;
    font-family: poppins;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
}
