.my-issues-dessign {
    display: flex;
    align-items: center;
    justify-content: center;
 

}

.table-my-issues {
    margin-top: 20px;
    width: 80%;
    border-radius: 1%;
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.6);
}