.create-issue-design {
    min-height: 92vh;
    /* min-width: 100vw; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-create-issue {
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1%;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
    background-color: rgb(242, 247, 247); 
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.container-issue {
    max-width: 80vw;
    /* height: 30em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    /* border-radius: 1%;
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.6);
    background-color: rgb(242, 247, 247); */
}