.create-issue-design {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-create-issue {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(242, 247, 247);
    border-radius: 1%;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
}

.container-issue {
    max-width: 80vw;
    /* height: 30em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.select-style {
    height: 2.5em;
    width: 80vw;
    background-color:white;
    font-size: 18px;
    font-family: poppins;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
}
.input-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-title-issue{
    height: 2.5em;
    width: 80vw;
    background-color:white;
    font-size: 18px;
    font-family: poppins;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
}



.input-description{
    height: 8em;
    width: 80vw;
    max-width: 90vw;
    background-color:white;
    font-size: 18px;
    font-family: poppins;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);

}
