.headerDesign {
    box-sizing: border-box;
    height: 8vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40e0d0;
    box-shadow: 0 0 10px rgba(29, 162, 151, 0.6);
    /* margin-right: 15px; */
}

.header-logout {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: black;
    padding: 15px;
}

.header-logout:hover {
    cursor: pointer;
    transition: 0.5s;
    color: rgb(0, 1, 1);
    text-decoration: underline;
    text-decoration-color:aqua;
}
.logo-style {
    height: 50px;
}

.links-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}